<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)=onSubmit(f)>
<mat-form-field hideRequiredMarker>
    <mat-label><mat-icon>email</mat-icon> E-Mail</mat-label>
    <input 
    matInput 
    placeholder="Your Email" 
    type="email" 
    ngModel 
    name="email"
    email
    required
    #emailInput="ngModel"
    >
    <mat-error *ngIf="emailInput.hasError('required')">Email is Required!</mat-error>
    <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error >
</mat-form-field>
<mat-form-field hintLabel="should be at least 8 charachters" hideRequiredMarker>
    <mat-label><mat-icon>lock</mat-icon> Password</mat-label>
    <!-- <mat-icon>lock</mat-icon> -->
    <input 
    matInput
     placeholder="Your Password"
     [type]="hide?'password':'text'" 
    ngModel 
    name="password"
    required
    minlength="8"
    #pwInput="ngModel">
    <mat-hint align="end">{{pwInput.value?.length}}/8</mat-hint>
    <mat-error>Password is required!</mat-error>
    <button mat-icon-button matSuffix (click)="hide=!hide" >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
<mat-form-field hideRequiredMarker>
    <mat-label><mat-icon>cake</mat-icon> Enter Birthday</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Your Birthdate"[max]="maxDate" ngModel name="datePicker" required >
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error>Birthdate is required!</mat-error>
</mat-form-field>
 <mat-checkbox ngModel name="agree" color="primary"required>Agree to Terms and Condition</mat-checkbox>
<button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Submit</button>
    </form>
</section>
